body
{
    background-color: rgb(180, 148, 19); 
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-align: center;
    background-image: url(1.jpg),url(2.jpg) ;
    background-repeat: no-repeat    ;
     background-position: bottom left,bottom right; 
     
}
  
  @keyframes example
{
    0% {background-color:skyblue}
    25% {background-color:red;}
    50% {background-color: lightseagreen;}
    100% {background-color: orange;}
}
#head
{
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 20px yellow;
    margin-bottom: 20px;
    position: relative;
    animation: text 5s infinite;
}
@keyframes text{
    0%{letter-spacing: 1px;
    }
    50%{
        letter-spacing: 5px;
    }
    100%{
        letter-spacing: 1px;
    }
}
caption, label{
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(2, 68, 2);
    text-decoration: underline;
}
label{
    text-decoration: none;
}
#deptSelect{
    width: auto;
    height: 30px;
    border: 1px solid green ;
    font-weight: bold;
}
table{
    width: auto;
    border-collapse: collapse;
    background-color: plum;
    border: 2px solid black;    
    margin: auto;
    margin-top: 20px;
}
th
{
    text-transform: uppercase;
}
th, td{
    border: 1px solid green;
    padding: 5px;
    font-weight: bolder;
}
tr:nth-child(even){
    background-color: honeydew;
}
#deptSelect
{
    background-color:plum;
}